table {
    text-align: left;
    margin: auto;
    border: 5px outset;
}

td {
    border: 2px inset grey;
}

.campo {
    border: 2px solid lightgray;
    border-radius: 4px;
    margin: 1px;
    width: 150px;
}

.boton {
    width: 25px;
    height: 20px;
    font-weight: bold;
}

.boton-grande {
    width: 60px;
}