body {
    background-color: #268C51;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    text-transform: capitalize;
}

p{
    font-size: 1.5em;
}

p.niño {
    color: white;
    font-family: serif;
    font-style: italic;
}

p.animal {
    color: #FFDFA6;
    font-family: sans-serif;
}

p.libro {
    color: #FF9F20;
    font-size: 2em;
    font-family: monospace;
}

p.numero {
    color: #E61A4E;
    font-family: cursive;
}